@import 'gg-ukit/styles/screen';

@v-spacing: 10px;

.company-search-item {
    margin-bottom: 30px;
}

.company-search-item-image-wrapper {
    width: 100%;
    height: 140px;
    margin-bottom: @v-spacing * 2;

    @media @screen-gt-s {
        margin-bottom: 0;
    }
}

.company-search-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.company-search-item-title {
    text-transform: uppercase;
    margin-bottom: @v-spacing;

    a {
        font-size: 18px;
    }
}
