.header-icons {
    height: 40px;
    display: flex;
    align-items: center;
}

.header-icon {
    display: inline-block;
    height: 19px;
    width: 19px;
    content: '';
    margin-right: 20px;
}

.header-icon_steam {
    background-image: url('./icons/steam.svg');
}

.header-icon_patreon {
    background-image: url('./icons/patreon.svg');
}

.header-icon_zen {
    background-image: url('./icons/zen.svg');
}
