@import 'gg-ukit/styles/screen';

.gallery-wrapper {
    margin-bottom: 20px;
    display: block;

    @media @screen-gt-s {
        display: flex;
        justify-content: center;
    }
}

.gallery {
    max-width: 650px;
}
